# Pycharm
.idea
# Packaging
build/
dist/
*.pyc
docs/_build/
output/
*.egg-info/
*.pytest_cache/
*.ruff_cache/
# Other
.ipynb_checkpoints
__pycache__
temp/
.temp/
.coverage
coverage.xml
htmlcov/
junit/
Dockerfile_*
.state
.env
pyproject_test.toml