[build-system]
requires = ["setuptools>=61.0", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "ada-py"
version = "0.2.14"
authors = [
    { name = "Kristoffer H. Andersen", email = "kristoffer_andersen@outlook.com" },
]
description = "Assembly for Design & Analysis - A python library for structural analysis and design"
readme = "README.md"
requires-python = ">=3.10"
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Topic :: Scientific/Engineering",
    "Topic :: Utilities",
]
[project.scripts]
ada-viewer = "ada.visit.websocket_cli:ws_cli_app"

[project.urls]
"Homepage" = "https://github.com/Krande/adapy"
"Bug Tracker" = "https://github.com/Krande/adapy/issues"

[tool.setuptools.packages.find]
where = ["src"]
include = ["ada*"]
exclude = ["frontend*"]

[tool.setuptools.package-data]
ada = [
    "sections/resources/ProfileDB.json",
    "materials/metals/resources/NLMatParams.json",
    "cadit/gxml/write/resources/xml_blank.xml",
    "fem/results/resources/results.sql",
    "visit/rendering/resources/index.zip"
]


[tool.black]
line-length = 120

[tool.ruff]
line-length = 120
exclude = ["examples/", ".pixi/"]

[tool.ruff.lint]
ignore = ["E741"]

[tool.isort]
profile = "black"
skip = [".pixi/", "node_modules/"]

[tool.pixi.project]
channels = ["https://repo.prefix.dev/code-aster", "conda-forge"]
platforms = ["win-64"]

[tool.pixi.environments]
prod = {features = ["py312"], solve-group = "prod"}
lint = { features = ["lint"], no-default-feature = true}
docs = { features = ["py312", "docs"], solve-group = "prod"}
tests = { features = ["py312", "tests"], solve-group = "prod"}

[tool.pixi.feature.py312.dependencies]
python="3.12"
ada-py = "*"
code-aster = "*"
lark = "*"

[tool.pixi.feature.py312.pypi-dependencies]
ada-py = {path = ".", editable = true}

[tool.pixi.feature.tests.dependencies]
pytest = "*"


[tool.pixi.feature.lint.dependencies]
black = "24.4.2"
isort = "5.13.2"
ruff = "0.4.10"

[tool.pixi.feature.docs.dependencies]
sphinx = "*"
furo = "*"
myst-parser = "*"
scipy = "*"

[tool.pixi.feature.lint.tasks]
lint = "isort . && black . --config pyproject.toml && ruff check ."
[tool.pixi.feature.docs.tasks]
docs = "cd docs && make html"
[tool.pixi.feature.tests.tasks]
tests = "pytest tests"

