name: ci-ada-docker-base

on:
  push:
    paths:
      - 'src/**'
      - 'Dockerfile'
      - '.github/workflows/ci-docker-base.yml'
    branches:
      - main
      - dev

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
#      - name: Login to GitHub Container Registry
#        uses: docker/login-action@v1
#        with:
#          registry: ghcr.io
#          username: ${{ github.repository_owner }}
#          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push Main Image
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          file: images/calculix/Dockerfile
          context: .
          push: true
          tags: ada/base:latest
      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}