name: ci-ada-fem

on:
  push:
    paths:
      - src/**
      - tests/fem/**
      - .github/workflows/ci-FEM.yml
      - images/femtests.Dockerfile
    branches:
      - main
  pull_request:
    paths-ignore:
      - setup.py
    branches:
      - main

concurrency:
  group: ci-ada-fem-${{ github.ref }}
  cancel-in-progress: true

jobs:
  activate:
    if: |
      github.repository == 'krande/adapy' &&
      !contains(github.event.head_commit.message, '[skip ci]')
    runs-on: ubuntu-latest
    steps:
      - run: echo ok go

  test-FEM:
    name: Test-FEM-analysis
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v5
      - name: Set DATE env var
        run: echo "DATE=$(echo $(date +'%y%m%d'))" >> $GITHUB_ENV

      - uses: prefix-dev/setup-pixi@v0.9.2 # https://github.com/prefix-dev/setup-pixi
        with:
          pixi-version: v0.55.0
          environments: docs
          cache: true

      - name: Create Verification Report
        run: |
          pixi run fem-doc

      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: ADA-FEA-res-debug
          path: tests/fem/verification_report/temp

      - name: Upload Zip file to release
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: tests/fem/verification_report/temp/_dist/ADA-FEA-verification.docx
          asset_name: ADA-FEA-verification-${{ env.DATE }}.docx
          tag: "ADA-FEA-Verification-Report-${{ env.DATE }}"
          overwrite: true
          body: "Verification Report for ADAPY - ${{ env.DATE }}"
