name: ci-docs

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*.*.*'
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0 # otherwise, you will fail to push refs to dest repo

      - uses: prefix-dev/setup-pixi@v0.9.3 # https://github.com/prefix-dev/setup-pixi
        with:
          pixi-version: v0.55.0
          environments: docs
          cache: true

      - name: Build Documentation
        run: pixi run docs

      - name: Upload to GitHub Pages
        if: github.event_name != 'pull_request'
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/_build/html/