name: ci-docs

on:
  workflow_dispatch:
  push:
    paths:
      - "docs/**"

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # otherwise, you will fail to push refs to dest repo

      - uses: mamba-org/setup-micromamba@v2 # https://github.com/mamba-org/setup-micromamba
        with:
          environment-file: docs/environment.docs.yml

      - name: Build and Commit
        run: |
          cd docs && make html

      - name: Upload to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/_build/html/