name: ci-pr-tests

# bump 2
on:
  pull_request:
    branches:
      - main

concurrency:
  group: ci-ada-main-${{ github.ref }}
  cancel-in-progress: true

jobs:
  activate:
    if: |
      github.repository == 'krande/adapy' &&
      !contains(github.event.head_commit.message, '[skip ci]')
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo ok go!
          echo head commit message: "${{ github.event.head_commit.message }}"
          echo event name: "${{ github.event_name }}" 
          echo base_ref: "${{ github.base_ref }}" 
          echo ref: "${{ github.ref }}" 
          echo sha "${{ github.sha }}"
          echo PR head sha: "${{ github.event.pull_request.head.sha }}"
          echo PR head ref "${{ github.event.pull_request.head.ref }}"
  lint:
    needs: activate
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-python@v4
        with:
          python-version: "3.x"
      - uses: actions/checkout@v3
      - name: Install lint packages
        run: pip install isort ruff black
      - name: Lint with black
        run: black --config pyproject.toml --check .
      - name: Lint with isort
        run: isort --check .
      - name: Lint with ruff
        run: ruff .

  version:
    name: Check version
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install bumpyproject
        run: pip install git+https://github.com/Krande/bumpyproject.git@fix/docker_fixes

      - name: Check if current pyproject version is safe for pushing to conda & pypi
        id: bump
        run: bumpy pyproject --check-current --ga-version-output
        env:
          CONDA_URL: "https://api.anaconda.org/package/krande/ada-py"
          PYPI_URL: "https://pypi.org/pypi/ada-py/json"

  test:
    needs: activate
    name: ${{ matrix.platform.name }}-${{ matrix.pyver.name }}-${{ matrix.build.name }}
    runs-on: ${{ matrix.platform.distver }}
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        build: [ { name: 'core' },{ name: 'full' } ]
        pyver: [
          { name: py310, distver: '3.10' },
          { name: py311, distver: '3.11' }
        ]
        platform: [
          { name: Windows, distver: windows-latest, short: 'win-64' },
          { name: Linux, distver: ubuntu-latest, short: 'linux-64' },
          { name: macOS, distver: macos-latest, short: 'osx-64' }
        ]
    steps:
      - uses: actions/checkout@v3
      - uses: mamba-org/setup-micromamba@v1 # https://github.com/mamba-org/setup-micromamba
        if: ${{ matrix.build.name == 'core' }}
        with:
          cache-env: true
          channels: conda-forge,krande
          channel-priority: strict
          environment-file: conda/environment.core.yml
          create-args: >-
            python=${{ matrix.pyver.distver }}
            pytest

      - uses: mamba-org/setup-micromamba@v1 # https://github.com/mamba-org/setup-micromamba
        if: ${{ matrix.build.name == 'full' }}
        with:
          cache-env: true
          channels: conda-forge,krande
          channel-priority: strict
          environment-file: conda/environment.core.yml
          extra-specs: |
            python=${{ matrix.pyver.distver }}
            pytest
            jupyterlab
            pythreejs
            pyparsing

      - name: pip install
        run: |
          pip install -e .

      - name: Test Core
        if: ${{ matrix.build.name == 'core' }}
        run: pytest ./tests --ignore=./tests/docker/ --ignore=./tests/full/
      - name: Test Full
        if: ${{ matrix.build.name == 'full' }}
        run: pytest ./tests --ignore=./tests/docker/