name: Pull Request Tests

on:
  pull_request:
    branches:
      - main

# Use concurrency to ensure that only one instance of this workflow is running at a time
concurrency:
  group: pr-tests-${{ github.ref_name }}
  cancel-in-progress: true

# installs mamba-org/setup-micromamba@v2 on all 3 platforms using matrix and runs pytest:
jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v5
            with:
              ref: ${{ github.event.pull_request.head.sha || github.ref }}

          - uses: prefix-dev/setup-pixi@v0.9.2 # https://github.com/prefix-dev/setup-pixi
            with:
              pixi-version: v0.55.0
              cache: true
              environments: lint

          - run: pixi run lint

    test:
        runs-on: ${{ matrix.os }}
        defaults:
          run:
            shell: bash -l {0}
        strategy:
          matrix:
            os: [ubuntu-latest, windows-latest, macos-13]
        steps:
        - uses: actions/checkout@v5
          with:
            ref: ${{ github.event.pull_request.head.sha || github.ref }}

        - uses: prefix-dev/setup-pixi@v0.9.2
          with:
            pixi-version: v0.41.3
            environments: tests
            cache: true

        - name: Runs Tests
          run: pixi run test