name: Make Release on push of new tag

# triggered on a tagged release
on:
  push:
    tags:
      - 'v*.*.*'

permissions:
  id-token: write
  contents: write

jobs:
  release:
    uses: AibelDevs/action-toolbox/.github/workflows/default-tool-release.yaml@fix/conda-build-control
    secrets:
      SOURCE_KEY: ${{ secrets.SOURCE_KEY }}
      CONDA_API_TOKEN: ${{ secrets.CONDA_API_TOKEN }}
      PYPI_API_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
      CUSTOM_PYPI_USERNAME: ${{ secrets.CUSTOM_PYPI_USERNAME }}
      CUSTOM_PYPI_PASSWORD: ${{ secrets.CUSTOM_PYPI_PASSWORD }}
      CUSTOM_PYPI_URL: ${{ secrets.CUSTOM_PYPI_URL }}
      QUETZ_API_KEY: ${{ secrets.QUETZ_API_KEY }}
      QUETZ_URL: ${{ secrets.QUETZ_URL }}
      CONTAINER_REGISTRY_URL: ${{ secrets.CONTAINER_REGISTRY_URL }}
      CONTAINER_REGISTRY_USERNAME: ${{ secrets.CONTAINER_REGISTRY_USERNAME }}
      CONTAINER_REGISTRY_PASSWORD: ${{ secrets.CONTAINER_REGISTRY_PASSWORD }}
      GITOPS_KEY: ${{ secrets.GITOPS_KEY }}