name: ci-branch-tests


on: push

concurrency:
  group: ada-quick-tests-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-core:
    name: Test ada-py-core
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v3
      - uses: mamba-org/setup-micromamba@v1 # https://github.com/mamba-org/setup-micromamba
        with:
          cache-environment: false
          condarc: |
            channels:
              - conda-forge
          environment-file: conda/environment.core.yml
          create-args: >-
            python=3.12
            pytest

      - name: Install latest adapy
        run: |
          pip install -e .

      - name: Runs Tests
        run: pytest ./tests --ignore=./tests/fem/ --ignore=./tests/full/

  test-full:
    name: Test ada-py-full
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v4
      - uses: mamba-org/setup-micromamba@v1 # https://github.com/mamba-org/setup-micromamba
        with:
          cache-environment: false
          condarc: |
            channels:
              - conda-forge
          environment-file: conda/environment.core.yml
          create-args: >-
            python=3.12
            pytest
            jupyterlab
            pythreejs
            pyparsing
            websockets
            pygfx
            pyglfw

      - name: Install latest adapy
        run: |
          pip install -e .

      - name: Run Tests
        run: pytest ./tests --ignore=./tests/fem/ --ignore=./tests/profiling/