name: ci-branch-tests


on: push

concurrency:
  group: ada-quick-tests-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-core:
    name: Test ada-py-core
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha || github.ref }}

      - uses: prefix-dev/setup-pixi@v0.8.4
        with:
          pixi-version: v0.44.0
          environments: tests
          cache: true

      - name: Runs Tests
        run: pixi run test-core

  test-full:
    name: Test ada-py-full
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha || github.ref }}

      - uses: prefix-dev/setup-pixi@v0.8.4
        with:
          pixi-version: v0.41.3
          environments: tests
          cache: true

      - name: Run Tests
        run: pixi run test